{% extends "base.html" %}
{% block title %}All Sessions{% endblock %}
{% block content %}
<h1 class="mb-3">Upcoming Sessions</h1>

<div class="d-flex justify-content-between">
	<form method="get" class="mb-7">
		<div class="row">
			<div>
				<select name="system" class="form-select" onchange="this.form.submit()">
					<option value="">-- All Systems --</option>
					{% for system in systems %}
						<option value="{{ system.id }}" {% if selected_system == system.id|stringformat:"s" %}selected{% endif %}>
							{{ system.name }}
						</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</form>

	{% if user.is_authenticated %}
		<div class="mb-3 text-end">
			<a href="{% url 'create_event' %}" class="btn btn-success">+ Create Event</a>
		</div>
	{% endif %}
</div>


<div class="row">
	{% for item in events %}
		<div class="col-md-6">
			<div class="card mb-4" style="height: 95%;">
				<div class="card-body">
					<h4>{{ item.event.title }}</h4>
					<p><strong>System:</strong> 
						{% if item.event.system %}
							{{ item.event.system.name }}
						{% else %}
							<span class="text-muted">Not specified</span>
						{% endif %}
					</p>
					<p><strong>Setting:</strong> {{ item.event.game_setting }}</p>
					<p><strong>Description:</strong> {{ item.event.description|truncatewords:50 }}</p>
					<p><strong>Date and time:</strong> {{ item.event.date_start }}</p>
					<p> <!-- This is to highlight the user's sessions -->
						<strong>Organizer:</strong>
						{% if user.is_authenticated and item.event.organizer == user %}
							<span class="text-primary fw-bold">{{ item.event.organizer.username }} (You)</span>
						{% else %}
							{{ item.event.organizer.username }}
						{% endif %}
					</p>
					<p><strong>Players:</strong> {{ item.slots_taken }}/{{ item.slots_total }}</p>
					
					{% if item.request_status %}
						<p><strong>Your status:</strong> 
							{% if item.request_status == "pending" %}
								<span class="badge bg-warning">Pending</span>
							{% elif item.request_status == "approved" %}
								<span class="badge bg-success">Approved</span>
							{% elif item.request_status == "rejected" %}
								<span class="badge bg-danger">Rejected</span>
							{% endif %}
						</p>
					{% endif %}
					
					<div class="d-flex justify-content-between align-items-center">
						<a href="{% url 'single' item.event.id %}" class="btn btn-outline-primary">View</a>
						{% if item.pending_count > 0 %}
							<span class="badge bg-danger">
								{{ item.pending_count }} request{{ item.pending_count|pluralize }}
							</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
